<p>{{userProfile.firstName}}-{{userProfile.lastName}}</p>
<p>{{userProfile.phoneNumber}}</p>
<p>{{userProfile.email}}</p>
<p>{{userProfile.photoPath}}</p>
<p>{{userProfile.userName}}</p>
<p>{{userProfile.createdAt}}</p>

<div class="container">
  <h2>Upload Profile Image</h2>
  <form (submit)="onSubmit()">
    <input type="file" (change)="onFileSelected($event)" />
    <button type="submit">Upload</button>
  </form>
  @if(userProfile.photoPath){
    <p>Image uploaded to: {{ userProfile.photoPath }}</p>

    <img style="width: 200px; border-radius: 50%;" src={{getPhotoFullPath()}}>
  }
</div>
